<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SmartHouse
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">
    <div class="container">
       <div class="row">
        <div class="col-sm-12 col-md-2">
          <ion-button   size="large" (click)="onLogout()">Logout</ion-button>
        </div>
        <div class="col-sm-12 col-md-2">
          <ion-button   size="large" routerLink="/admin">Admin</ion-button>
        </div>
        <div class="col-sm-12 col-md-2">
          <ion-button  size="large" routerLink="/register">Registrar</ion-button>
        </div>
        <div class="col-sm-12 col-md-2">
          <ion-button  size="large" routerLink="/cloud-list">Ver fotos de webcam</ion-button>
        </div>
        <div class="col-sm-12 col-md-2">
          <ion-button  size="large" routerLink="/lights">Luces</ion-button>
        </div>

      </div>
    </div>
  
    </ion-content>
    


