
//variables CSS de los sensores





/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 1px;
  right:  25px;
}

.boton{
object-fit: contain;
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
}

.img{
  object-fit: contain;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  }
  


.luz1 {
    display: var(--Luz1);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 10rem;
    right: 1rem;
  }



.luz2{
    display: var(--Luz2);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 5rem;
    right: 9rem;
  }

.luz3{
    display: var(--Luz3);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 4rem;
    right: 12.5rem;
    
  }

.luz4{
    display: var(--Luz4);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 13rem;
    right: 15rem;
  }

.luz5{
    display: var(--Luz5);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 5rem;
    right: 18rem;
    

  }


  .puerta1{
    display: var(--Puerta1);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 4rem;
    right: 3rem;
  }
  
  .puerta2{
    display: var(--Puerta2);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 8rem;
    right: 9rem;
    }
  
  .puerta3{
    display: var(--Puerta3);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 8rem;
    right: 12.5rem;
    
    }
  
  .puerta4{
    display: var(--Puerta4);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 10rem;
    right: 5rem;
    }
  
  .puerta5{
    display: var(--Puerta5);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 8rem;
    right: 17.5rem;
    }
  
    
  