<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content > 

 
  <ion-list>
    <div style="display: none;" *ngFor="let casa of (casas | async)" >
    {{casa.Luz1}}, 
    {{casa.Luz2}},
    {{casa.Luz3}}, 
    {{casa.Luz4}}, 
    {{casa.Luz5}}, 
    {{casa.Puerta1}},
    {{casa.Puerta2}},  
    {{casa.Puerta3}}, 
    {{casa.Puerta4}}, 
    {{casa.Puerta5}}
  
    <div *ngIf="casa; then callfunction; else nofunction"></div>
    <ng-template #callfunction>
      {{print(casa.Luz1,casa.Luz2,casa.Luz3,casa.Luz4,casa.Luz5,casa.Puerta1,casa.Puerta2,casa.Puerta3,casa.Puerta4,casa.Puerta5)}},
      {{cambiarTema()}}
    </ng-template>
    <ng-template #nofunction>
     <!-- something else -->
    </ng-template>
  </div>
  </ion-list>

  <ion-button   size="large" routerLink="/home">
    <ion-icon class="luz1"name="flash-outline"></ion-icon>
  </ion-button>

  <ion-button   size="large" routerLink="/home">
    <ion-icon class="puerta1"name="warning-outline"></ion-icon>
  </ion-button>

  
  
  


</ion-content>
