
//variables CSS de los sensores





/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 1px;
  right:  25px;
}

.boton{

    object-fit: contain;
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
}
.luz1 {
    display: var(--Luz1);
    padding: 10px;
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 50px;
   
  
  }

.img{


object-fit: contain;
max-width: 100%;
height: auto;
margin-left: auto;
margin-right: auto;
}



.luz2{
    display: var(--Luz2);
    padding: 10px;
    width: 80px;
  
    bottom: 4rem;
    right: 4rem;
   
   
  }

.luz3{
    display: var(--Luz3);
    padding: 10px;
    width: 90px;

    bottom: 6rem;
    right: 6em;
    
  }

.luz4{
    display: var(--Luz4);
    padding: 10px;
    width: 90px;
  
    bottom: 8rem;
    right: 8rem;
    
  }

.luz5{
    display: var(--Luz5);
    padding: 10px;
    width: 90px;

    bottom: 10rem;
    right: 10rem;

  }


  .puerta1{
    display: var(--Puerta1);
    padding: 10px;
    width: 90px;

    
  
    bottom: 12rem;
    right: 12rem;
   
    
    
  }
  
  .puerta2{
    display: var(--Puerta2);
    padding: 10px;
    width: 90px;
  
    bottom: 14rem;
    right: 14rem;
   
    }
  
  .puerta3{
    display: var(--Puerta3);
    padding: 10px;
    width: 90px;
   
    bottom: 16rem;
    right: 16rem;
    }
  
  .puerta4{
    display: var(--Puerta4);
    padding: 10px;
    width: 90px;
  
    bottom: 18rem;
    right: 18rem;
    }
  
  .puerta5{
    display: var(--Puerta5);
    padding: 10px;
    width: 90px;
  
    bottom: 20rem;
    right: 20rem;
    }
  
    
  