.toggle1 {
    display: var(--Toggle1);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 5rem;
    right: 17rem;
}
    
   
.toggle2{
    display: var(--Toggle2);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 11rem;
    right: 17rem;
  }

.toggle3{
    display: var(--Toggle3);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 16.5rem;
    right: 17rem;
    
  }

.toggle4{
    display: var(--Toggle4);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 22.5rem;
    right: 17rem;
  }

.toggle5{
    display: var(--Toggle5);
    padding: 10px;
    width: 40px;
    height: 40px;
    top: 27.5rem;
    right: 17rem;
      }

      ion-toggle {
        --background: white;
        --background-checked: white;
      
        --handle-background: #5260ff;
        --handle-background-checked: #5260ff;
      }
      