<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Luces</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content > 

 
  <ion-list>
    <div style="display: none;" *ngFor="let casa of (casas | async)" >
    {{casa.id}},
    {{casa.Luz1}}, 
    {{casa.Luz2}},
    {{casa.Luz3}}, 
    {{casa.Luz4}}, 
    {{casa.Luz5}}, 
    {{casa.Puerta1}},
    {{casa.Puerta2}},  
    {{casa.Puerta3}}, 
    {{casa.Puerta4}}, 
    {{casa.Puerta5}}
  
    <div *ngIf="casa; then callfunction; else nofunction"></div>
    <ng-template #callfunction>
      {{setData(casa.id,casa.Luz1,casa.Luz2,casa.Luz3,casa.Luz4,casa.Luz5,casa.Puerta1,casa.Puerta2,casa.Puerta3,casa.Puerta4,casa.Puerta5)}}
      
    </ng-template>
    <ng-template #nofunction>
     <!-- something else -->
    </ng-template>
  </div>
  </ion-list>

  <div class="container">
    <div class="row">

     <div class="col-sm-12 col-md-2" >
            <h2 >Luz1</h2>
            <ion-toggle  (ionChange)="setLuz1()">Luz1</ion-toggle>
            <div class="container position-fixed toggle1 vw-2 vh-2" [style]="getDynamicLuz1()">
                <img class="img" color= "white" src="./../../assets/icon/light-bulb.png" >
                <div class="bottom-right" >1</div>
            </div>
     </div>

     <div class="col-sm-12 col-md-2" >
      <h2 >Luz2</h2>
      <ion-toggle (ionChange)="setLuz2()">Luz2</ion-toggle>
      <div class="container position-fixed toggle2 vw-2 vh-2" [style]="getDynamicLuz2()">
          <img class="img" src="./../../assets/icon/light-bulb.png" >
          <div class="bottom-right" >2</div>
      </div>
      </div>

      <div class="col-sm-12 col-md-2" >
        <h2 >Luz3</h2>
        <ion-toggle (ionChange)="setLuz3()">Luz3</ion-toggle>
        <div class="container position-fixed toggle3 vw-2 vh-2" [style]="getDynamicLuz3()">
            <img class="img" src="./../../assets/icon/light-bulb.png" >
            <div class="bottom-right" >3</div>
        </div>
        </div>

        <div class="col-sm-12 col-md-2" >
          <h2 >Luz4</h2>
          <ion-toggle (ionChange)="setLuz4()">Luz4</ion-toggle>
          <div class="container position-fixed toggle4 vw-2 vh-2" [style]="getDynamicLuz4()">
              <img class="img" src="./../../assets/icon/light-bulb.png" >
              <div class="bottom-right" >4</div>
          </div>
          </div>

          <div class="col-sm-12 col-md-2" >
            <h2 >Luz5</h2>
            <ion-toggle (ionChange)="setLuz5()">Luz5</ion-toggle>
            <div class="container position-fixed toggle5 vw-2 vh-2" [style]="getDynamicLuz5()">
                <img class="img" src="./../../assets/icon/light-bulb.png" >
                <div class="bottom-right" >5</div>
            </div>
            </div>


     

   </div>
 </div>

</ion-content>

