<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Luces</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content > 

 
  <ion-list>
    <div style="display: none;" *ngFor="let casa of (casas | async)" >
    {{casa.id}},
    {{casa.Luz1}}, 
    {{casa.Luz2}},
    {{casa.Luz3}}, 
    {{casa.Luz4}}, 
    {{casa.Luz5}}, 
    {{casa.Puerta1}},
    {{casa.Puerta2}},  
    {{casa.Puerta3}}, 
    {{casa.Puerta4}}, 
    {{casa.Puerta5}}
  
    <div *ngIf="casa; then callfunction; else nofunction"></div>
    <ng-template #callfunction>
      {{setData(casa.id,casa.Luz1,casa.Luz2,casa.Luz3,casa.Luz4,casa.Luz5,casa.Puerta1,casa.Puerta2,casa.Puerta3,casa.Puerta4,casa.Puerta5)}}
      
    </ng-template>
    <ng-template #nofunction>
     <!-- something else -->
    </ng-template>
  </div>
  </ion-list>

  <div class="container">
    <div class="row">
     <div class="col-sm-12 col-md-2">
       <ion-button  size="large" (click)="setLuz1()">Luz1</ion-button>
     </div>
     <div class="col-sm-12 col-md-2">
       <ion-button   size="large" (click)="setLuz2()">Luz2</ion-button>
     </div>
     <div class="col-sm-12 col-md-2">
       <ion-button  size="large"(click)="setLuz3()">Luz3</ion-button>
     </div>
     <div class="col-sm-12 col-md-2">
       <ion-button  size="large" (click)="setLuz4()">Luz4</ion-button>
     </div>
     <div class="col-sm-12 col-md-2">
       <ion-button  size="large" (click)="setLuz5()">Luz5</ion-button>
     </div>

   </div>
 </div>

</ion-content>

