<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Smart House
    </ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content [fullscreen]="true">
  <div class="container">
     <div class="row">
      <div class="col-sm-12 col-md-2">
       <h1 style="color:white;">Proyecto Introducción a sistemas embebidos</h1>
      </div>
      <div class="col-sm-12 col-md-2">
        <h2 style="color:white;">Creado por:</h2>
      </div>
      <div class="col-sm-12 col-md-2">
        <h3 style="color:white;">Esteban Ferarios</h3>
      </div>
      <div class="col-sm-12 col-md-2">
        <h3 style="color:white;">Josafat Vargas</h3>
      </div>

      <div class="col-sm-12 col-md-2">
        <h3 style="color:white;">Sebastián Víquez</h3>
      </div>
    </div>
  </div>

  </ion-content>